body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1276px;
  height:1px;
  display:flex;
}
#u2856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:46px;
  width:207px;
  height:68px;
  display:flex;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:1276px;
  height:1px;
  display:flex;
}
#u2858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:56px;
  width:38px;
  height:36px;
  display:flex;
  color:#7F7F7F;
}
#u2860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:61px;
  width:92px;
  height:25px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:283px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2863 label {
  left:0px;
  width:100%;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:330px;
  width:630px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u2863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2863_img.selected {
}
#u2863.selected {
}
#u2863_img.disabled {
}
#u2863.disabled {
}
#u2863_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2863_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2864 label {
  left:0px;
  width:100%;
}
#u2864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:428px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2864 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2864_img.selected {
}
#u2864.selected {
}
#u2864_img.disabled {
}
#u2864.disabled {
}
#u2864_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2864_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2865 label {
  left:0px;
  width:100%;
}
#u2865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:468px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2865 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2865_img.selected {
}
#u2865.selected {
}
#u2865_img.disabled {
}
#u2865.disabled {
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2865_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2866 label {
  left:0px;
  width:100%;
}
#u2866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:384px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2866 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2866_img.selected {
}
#u2866.selected {
}
#u2866_img.disabled {
}
#u2866.disabled {
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2866_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2867 label {
  left:0px;
  width:100%;
}
#u2867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:546px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2867 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2867_img.selected {
}
#u2867.selected {
}
#u2867_img.disabled {
}
#u2867.disabled {
}
#u2867_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2867_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2868 label {
  left:0px;
  width:100%;
}
#u2868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:580px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2868 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2868_img.selected {
}
#u2868.selected {
}
#u2868_img.disabled {
}
#u2868.disabled {
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2868_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2869 label {
  left:0px;
  width:100%;
}
#u2869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:617px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2869 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2869_img.selected {
}
#u2869.selected {
}
#u2869_img.disabled {
}
#u2869.disabled {
}
#u2869_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2869_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:740px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:748px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2871 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:787px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2872 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:795px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:303px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:303px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:843px;
  width:1089px;
  height:54px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2877 label {
  left:0px;
  width:100%;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:674px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2877 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2877_img.selected {
}
#u2877.selected {
}
#u2877_img.disabled {
}
#u2877.disabled {
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2877_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:758px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:993px;
  width:1276px;
  height:1px;
  display:flex;
  color:transparent;
}
#u2879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2880 label {
  left:0px;
  width:100%;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:506px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2880 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2880_img.selected {
}
#u2880.selected {
}
#u2880_img.disabled {
}
#u2880.disabled {
}
#u2880_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2880_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2881 label {
  left:0px;
  width:100%;
}
#u2881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:706px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2881 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2881_img.selected {
}
#u2881.selected {
}
#u2881_img.disabled {
}
#u2881.disabled {
}
#u2881_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2881_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:637px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:758px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:453px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:461px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:491px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:499px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:529px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:537px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:571px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:579px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:611px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:619px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:649px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:657px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:689px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:697px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:330px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:333px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:371px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:374px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:458px;
  width:516px;
  height:294px;
}
#u2902_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:294px;
  overflow:auto;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:461px;
  width:516px;
  height:287px;
}
#u2903_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:287px;
  overflow:auto;
}
#u2904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:330px;
  width:192px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:371px;
  width:192px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:101px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:15px;
  width:152px;
  height:101px;
  display:flex;
}
#u2907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:36px;
  width:54px;
  height:57px;
  display:flex;
}
#u2908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:414px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:417px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:458px;
  width:516px;
  height:290px;
}
#u2911_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:290px;
  overflow:auto;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:417px;
  width:34px;
  height:33px;
  display:flex;
}
#u2912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
