body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1276px;
  height:1px;
  display:flex;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:101px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:25px;
  width:152px;
  height:101px;
  display:flex;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:46px;
  width:54px;
  height:57px;
  display:flex;
}
#u1383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:46px;
  width:207px;
  height:68px;
  display:flex;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u1384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:1276px;
  height:1px;
  display:flex;
}
#u1385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:56px;
  width:38px;
  height:36px;
  display:flex;
  color:#7F7F7F;
}
#u1387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:61px;
  width:92px;
  height:25px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:283px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1390 label {
  left:0px;
  width:100%;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:330px;
  width:630px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u1390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1390_img.selected {
}
#u1390.selected {
}
#u1390_img.disabled {
}
#u1390.disabled {
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1390_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1391 label {
  left:0px;
  width:100%;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:435px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1391 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1391_img.selected {
}
#u1391.selected {
}
#u1391_img.disabled {
}
#u1391.disabled {
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1391_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1392 label {
  left:0px;
  width:100%;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:466px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1392 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1392_img.selected {
}
#u1392.selected {
}
#u1392_img.disabled {
}
#u1392.disabled {
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1392_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1393 label {
  left:0px;
  width:100%;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:384px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1393 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1393_img.selected {
}
#u1393.selected {
}
#u1393_img.disabled {
}
#u1393.disabled {
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1393_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1394 label {
  left:0px;
  width:100%;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:529px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1394_img.selected {
}
#u1394.selected {
}
#u1394_img.disabled {
}
#u1394.disabled {
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1394_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1395 label {
  left:0px;
  width:100%;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:562px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1395 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1395_img.selected {
}
#u1395.selected {
}
#u1395_img.disabled {
}
#u1395.disabled {
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1395_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1396 label {
  left:0px;
  width:100%;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:595px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1396 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1396_img.selected {
}
#u1396.selected {
}
#u1396_img.disabled {
}
#u1396.disabled {
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1396_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:752px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:760px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1398 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:799px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:807px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1400 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:303px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1401 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:303px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:330px;
  width:192px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:330px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1404 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:855px;
  width:1089px;
  height:54px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1406 label {
  left:0px;
  width:100%;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:661px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1406 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1406_img.selected {
}
#u1406.selected {
}
#u1406_img.disabled {
}
#u1406.disabled {
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1406_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:380px;
  width:192px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:380px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:741px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:993px;
  width:1276px;
  height:1px;
  display:flex;
  color:transparent;
}
#u1410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1411 label {
  left:0px;
  width:100%;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:496px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1411 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1411_img.selected {
}
#u1411.selected {
}
#u1411_img.disabled {
}
#u1411.disabled {
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1411_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1412 label {
  left:0px;
  width:100%;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:694px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u1412 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1412_img.selected {
}
#u1412.selected {
}
#u1412_img.disabled {
}
#u1412.disabled {
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u1412_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:619px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:333px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:383px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:426px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:478px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:429px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:481px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:529px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:579px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:532px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:582px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:629px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:627px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:678px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u1426 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:680px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u1427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:741px;
  width:160px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u1428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
