body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1276px;
  height:1px;
  display:flex;
}
#u2339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:101px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:25px;
  width:152px;
  height:101px;
  display:flex;
}
#u2341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:46px;
  width:54px;
  height:57px;
  display:flex;
}
#u2342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:46px;
  width:207px;
  height:68px;
  display:flex;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:1276px;
  height:1px;
  display:flex;
}
#u2344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:56px;
  width:38px;
  height:36px;
  display:flex;
  color:#7F7F7F;
}
#u2346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:61px;
  width:92px;
  height:25px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:283px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2349 label {
  left:0px;
  width:100%;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:330px;
  width:630px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u2349 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2349_img.selected {
}
#u2349.selected {
}
#u2349_img.disabled {
}
#u2349.disabled {
}
#u2349_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2349_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2350 label {
  left:0px;
  width:100%;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:435px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2350 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2350_img.selected {
}
#u2350.selected {
}
#u2350_img.disabled {
}
#u2350.disabled {
}
#u2350_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2350_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2351 label {
  left:0px;
  width:100%;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:466px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2351 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2351_img.selected {
}
#u2351.selected {
}
#u2351_img.disabled {
}
#u2351.disabled {
}
#u2351_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2351_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2352 label {
  left:0px;
  width:100%;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:384px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2352 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2352_img.selected {
}
#u2352.selected {
}
#u2352_img.disabled {
}
#u2352.disabled {
}
#u2352_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2352_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2353 label {
  left:0px;
  width:100%;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:529px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2353 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2353_img.selected {
}
#u2353.selected {
}
#u2353_img.disabled {
}
#u2353.disabled {
}
#u2353_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2353_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2354 label {
  left:0px;
  width:100%;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:562px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2354 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2354_img.selected {
}
#u2354.selected {
}
#u2354_img.disabled {
}
#u2354.disabled {
}
#u2354_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2354_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2355 label {
  left:0px;
  width:100%;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:595px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2355 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2355_img.selected {
}
#u2355.selected {
}
#u2355_img.disabled {
}
#u2355.disabled {
}
#u2355_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2355_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:725px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:733px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2357 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:772px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:780px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2359 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:303px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2360 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:330px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:333px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:828px;
  width:1089px;
  height:54px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2364 label {
  left:0px;
  width:100%;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:661px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2364 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2364_img.selected {
}
#u2364.selected {
}
#u2364_img.disabled {
}
#u2364.disabled {
}
#u2364_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2364_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:380px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:383px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:741px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:993px;
  width:1276px;
  height:1px;
  display:flex;
  color:transparent;
}
#u2368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2369 label {
  left:0px;
  width:100%;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:496px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2369 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2369_img.selected {
}
#u2369.selected {
}
#u2369_img.disabled {
}
#u2369.disabled {
}
#u2369_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2369_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2370 label {
  left:0px;
  width:100%;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:691px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2370 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2370_img.selected {
}
#u2370.selected {
}
#u2370_img.disabled {
}
#u2370.disabled {
}
#u2370_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2370_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:619px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:435px;
  width:516px;
  height:270px;
}
#u2372_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:270px;
  overflow:auto;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:435px;
  width:516px;
  height:270px;
}
#u2373_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:270px;
  overflow:auto;
}
