body {
  margin:0px;
  background-image:url('../../images/login/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:151px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:191px;
  width:400px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:1276px;
  height:1px;
  display:flex;
}
#u2643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:46px;
  width:207px;
  height:68px;
  display:flex;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:23px;
  color:#000000;
  text-align:center;
}
#u2644 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:1276px;
  height:1px;
  display:flex;
}
#u2645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:36px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:56px;
  width:38px;
  height:36px;
  display:flex;
  color:#7F7F7F;
}
#u2647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:61px;
  width:92px;
  height:25px;
  display:flex;
  font-family:'Calibri Bold', 'Calibri Regular', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:283px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2650 label {
  left:0px;
  width:100%;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:330px;
  width:630px;
  height:54px;
  display:flex;
  font-size:16px;
}
#u2650 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2650_img.selected {
}
#u2650.selected {
}
#u2650_img.disabled {
}
#u2650.disabled {
}
#u2650_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2650_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2651 label {
  left:0px;
  width:100%;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:428px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2651 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2651_img.selected {
}
#u2651.selected {
}
#u2651_img.disabled {
}
#u2651.disabled {
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2651_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2652 label {
  left:0px;
  width:100%;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:468px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2652 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2652_img.selected {
}
#u2652.selected {
}
#u2652_img.disabled {
}
#u2652.disabled {
}
#u2652_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2652_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2653 label {
  left:0px;
  width:100%;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:384px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2653 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2653_img.selected {
}
#u2653.selected {
}
#u2653_img.disabled {
}
#u2653.disabled {
}
#u2653_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2653_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2654 label {
  left:0px;
  width:100%;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:546px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2654 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2654_img.selected {
}
#u2654.selected {
}
#u2654_img.disabled {
}
#u2654.disabled {
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2654_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2655 label {
  left:0px;
  width:100%;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:580px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2655 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2655_img.selected {
}
#u2655.selected {
}
#u2655_img.disabled {
}
#u2655.disabled {
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2655_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2656 label {
  left:0px;
  width:100%;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:617px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2656 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2656_img.selected {
}
#u2656.selected {
}
#u2656_img.disabled {
}
#u2656.disabled {
}
#u2656_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2656_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:740px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:748px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:787px;
  width:34px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:795px;
  width:296px;
  height:23px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:303px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:303px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:843px;
  width:1089px;
  height:54px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2664 label {
  left:0px;
  width:100%;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:674px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2664 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2664_img.selected {
}
#u2664.selected {
}
#u2664_img.disabled {
}
#u2664.disabled {
}
#u2664_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2664_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:758px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:2px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:993px;
  width:1276px;
  height:1px;
  display:flex;
  color:transparent;
}
#u2666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2667 label {
  left:0px;
  width:100%;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:506px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2667 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2667_img.selected {
}
#u2667.selected {
}
#u2667_img.disabled {
}
#u2667.disabled {
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2667_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2668 label {
  left:0px;
  width:100%;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:706px;
  width:630px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2668 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2668_img.selected {
}
#u2668.selected {
}
#u2668_img.disabled {
}
#u2668.disabled {
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:614px;
  word-wrap:break-word;
  text-transform:none;
}
#u2668_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:637px;
  width:255px;
  height:40px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:758px;
  width:200px;
  height:60px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u2670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:416px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:424px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:453px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:461px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:491px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:499px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:529px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:537px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:571px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:579px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:611px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:619px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:649px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:657px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:689px;
  width:28px;
  height:33px;
  display:flex;
  color:#4B7902;
}
#u2686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:697px;
  width:100px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u2687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:330px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:333px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:380px;
  width:195px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:383px;
  width:30px;
  height:32px;
  display:flex;
  font-size:16px;
}
#u2691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:458px;
  width:516px;
  height:294px;
}
#u2692_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:294px;
  overflow:auto;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:461px;
  width:516px;
  height:287px;
}
#u2693_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:287px;
  overflow:auto;
}
#u2694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:330px;
  width:192px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:380px;
  width:192px;
  height:36px;
  display:flex;
  font-size:16px;
}
#u2695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:101px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:15px;
  width:152px;
  height:101px;
  display:flex;
}
#u2697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:57px;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:36px;
  width:54px;
  height:57px;
  display:flex;
}
#u2698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
